# Daily report

Save the transactions from database files to csv files and generate a daily report.

In [1]:
import numpy as np
import pandas as pd
import sqlite3
from datetime import datetime

In [2]:
# connect the sqlite3 database
db = sqlite3.connect('products.db')
cursor = db.cursor()

# import the data from transactions record table of the database and convert the time into datetime
transactions = pd.read_sql_query(('SELECT * FROM t_record'), db)
transactions.time = pd.to_datetime(transactions.time)

In [3]:
display(transactions)

,transationid,time,productname,productid,amount,methodname
0,1,2017-12-13 11:38:37,Small Americano,14,1,Credit
1,1,2017-12-13 11:38:37,Kettle Chips Lighly Salted,72,1,Credit
2,1,2017-12-13 11:38:37,Small Latte,15,1,Credit
3,2,2017-12-13 11:38:49,Coca Cola 330ml,38,1,Debit
4,2,2017-12-13 11:38:49,Large Mocha,29,1,Debit
5,2,2017-12-13 11:38:49,Sea Salt Popcorn,65,1,Debit
6,2,2017-12-13 11:38:49,Medium Cappuccino,4,1,Debit
7,3,2017-12-13 11:39:03,Small Latte,15,1,Cash
8,3,2017-12-13 11:39:03,Coca Cola 330ml,38,1,Cash
9,3,2017-12-13 11:39:03,Panini Roast Beef Melt,44,1,Cash
10,4,2017-12-13 11:39:28,Coca Cola 330ml,38,1,Credit
11,4,2017-12-13 11:39:28,Large Mocha,29,1,Credit
12,4,2017-12-13 11:39:28,Kettle Chips Cheddar and Onion,70,1,Credit
13,4,2017-12-13 11:39:28,Panini Roast Beef Melt,44,1,Credit
14,5,2017-12-13 11:39:45,Medium Latte,3,1,Debit
15,5,2017-12-13 11:39:45,Medium Cappuccino,4,1,Debit
16,5,2017-12-13 11:39:45,Kettle Chips Lighly Salted,72,1,Debit
17,6,2017-12-13 11:40:06,Medium Mocha,5,1,Cash
18,6,2017-12-13 11:40:06,Sandwich Ham and Pickle,53,1,Cash
19,6,2017-12-13 11:40:06,Small Cappuccino,16,1,Cash
20,7,2017-12-13 11:40:26,Coca Cola 330ml,38,1,Debit
21,7,2017-12-13 11:40:26,Oat and Rasin Cookie,67,1,Debit
22,7,2017-12-13 11:40:26,Panini Roast Beef Melt,44,1,Debit
23,8,2017-12-13 11:40:33,Coca Cola 330ml,38,1,Cash
24,8,2017-12-13 11:40:33,Panini Roast Beef Melt,44,1,Cash
25,8,2017-12-13 11:40:33,Triple Chocolate Cookie,68,1,Cash
26,9,2017-12-13 11:41:22,Small Latte,15,1,Credit
27,9,2017-12-13 11:41:22,Small Cappuccino,16,1,Credit
28,9,2017-12-13 11:41:22,Sandwich Ham and Cheese,54,1,Credit
29,10,2017-12-13 11:41:32,Large Latte,27,1,Cash
...,...,...,...,...,...,...
38,13,2017-12-13 11:42:48,Piece of Fruit,69,1,Debit
39,14,2017-12-13 11:42:57,Coca Cola 330ml,38,1,Cash
40,14,2017-12-13 11:42:57,Medium Hot Chocolate,6,1,Cash
41,14,2017-12-13 11:42:57,Panini Roast Beef Melt,44,1,Cash
42,15,2017-12-13 11:44:04,Coca Cola 330ml,38,1,Credit
43,15,2017-12-13 11:44:04,Salad Greek Feta,52,1,Credit
44,15,2017-12-13 11:44:04,Panini Roast Beef Melt,44,1,Credit
45,16,2017-12-13 11:44:14,Small Latte,15,1,Cash
46,18,2017-12-13 11:44:48,Coke Zero 330ml,39,1,Cash
47,18,2017-12-13 11:44:48,Small Latte,15,1,Cash
48,18,2017-12-13 11:44:48,Medium Mocha,5,1,Cash
49,19,2017-12-13 11:46:55,Coca Cola 330ml,38,1,Cash
50,19,2017-12-13 11:46:55,Small Latte,15,1,Cash
51,19,2017-12-13 11:46:55,Panini Roast Beef Melt,44,1,Cash
52,20,2017-12-13 11:48:06,Coke Zero 330ml,39,1,Credit
53,20,2017-12-13 11:48:06,Sea Salt Popcorn,65,1,Credit
54,23,2017-12-13 11:48:43,Small Latte,15,1,Debit
55,23,2017-12-13 11:48:43,Medium Cappuccino,4,1,Debit
56,24,2017-12-13 11:49:10,Lemonade 330ml,40,1,Credit
57,24,2017-12-13 11:49:10,Small Latte,15,1,Credit
58,24,2017-12-13 11:49:10,Medium Cappuccino,4,1,Credit
59,25,2017-12-13 11:49:18,Small Latte,15,1,Cash
60,25,2017-12-13 11:49:18,"Panini Bacon, Brie, Cranberry",48,1,Cash
61,25,2017-12-13 11:49:18,Oat and Rasin Cookie,67,1,Cash
62,25,2017-12-13 11:49:18,Medium Cappuccino,4,1,Cash
63,26,2017-12-13 11:49:27,Coca Cola 330ml,38,1,Debit
64,26,2017-12-13 11:49:27,Kettle Chips Sea Salt and Balsamic,71,1,Debit
65,26,2017-12-13 11:49:27,Panini Roast Beef Melt,44,1,Debit
66,27,2017-12-13 11:49:30,Salad Mezze Platter,51,1,Credit
67,27,2017-12-13 11:49:30,Sandwich Chicken Tikka,58,1,Credit

In [4]:
# define a function that used to select a day
def select_time(dataframe, d, m, y):
    daily_transactions = dataframe[(dataframe.time.dt.day == d) & (dataframe.time.dt.month == m) 
                                   & (dataframe.time.dt.year == y)]
    
    return daily_transactions

In [5]:
# define a function that used to calculate the amounts of each method
def method_counts(data):
    cash = 0
    debit = 0
    credit = 0
    for i in data:
        if i == 'Cash':
            cash += 1
        if i == 'Debit':
            debit += 1
        if i == 'Credit':
            credit += 1
    
    return cash, debit, credit

In [6]:
# define a function that make a daily report
def report(dataframe, d, m, y):  
    
    dataframe = select_time(dataframe, d, m, y)
    
    mask = np.array(dataframe.productid)
    product_id, counts = np.unique(mask, return_counts = True)

    product_name = []
    product_price = []
    total_value = []
    total_cash = []
    total_debit = []
    total_credit = []

    for i in range(len(product_id)):
        cursor.execute('SELECT price FROM products WHERE productid = ?', (int(product_id[i]),))
        product_price.append(cursor.fetchone()[0] / 100)
        product_name.append(list(dataframe.loc[dataframe.productid == product_id[i]]['productname'])[0])  
        total_value.append(float("{0:.2f}".format(product_price[i] * counts[i])))
        method = list(dataframe.loc[dataframe.productid == product_id[i]]['methodname'])
        method = method_counts(method)
        total_cash.append(method[0])
        total_debit.append(method[1])
        total_credit.append(method[2])

    column_name = ['product_name', 'product_id','product_price', 'sales_counts','sales_values', 
                   'Paid by Cash amounts', 'Paid by Debit amounts', 'Paid by Credit amounts']

    w_values = np.column_stack((product_name, product_id, product_price, counts, total_value, 
                                total_cash, total_debit, total_credit))

    report = pd.DataFrame(columns = column_name,data = w_values)
    
    return report

In [7]:
# for example, report the transactions daily report on 2017/12/13
daily_20171213 = report(transactions, 13, 12, 2017)

In [8]:
display(daily_20171213)

,product_name,product_id,product_price,sales_counts,sales_values,Paid by Cash amounts,Paid by Debit amounts,Paid by Credit amounts
0,Medium Latte,3,2.0,1,2.0,0,1,0
1,Medium Cappuccino,4,2.0,5,10.0,1,3,1
2,Medium Mocha,5,2.2,2,4.4,2,0,0
3,Medium Hot Chocolate,6,2.1,1,2.1,1,0,0
4,Small Americano,14,1.6,1,1.6,0,0,1
5,Small Latte,15,1.8,10,18.0,5,1,4
6,Small Cappuccino,16,1.8,2,3.6,1,0,1
7,Large Latte,27,2.25,1,2.25,1,0,0
8,Large Mocha,29,2.6,2,5.2,0,1,1
9,Coca Cola 330ml,38,1.0,11,11.0,5,4,2
10,Coke Zero 330ml,39,1.0,2,2.0,1,0,1
11,Lemonade 330ml,40,1.0,1,1.0,0,0,1
12,Panini Roast Beef Melt,44,4.75,10,47.5,5,3,2
13,"Panini Bacon, Brie, Cranberry",48,4.75,1,4.75,1,0,0
14,Salad Tuna,50,5.95,1,5.95,0,0,1
15,Salad Mezze Platter,51,5.95,1,5.95,0,0,1
16,Salad Greek Feta,52,5.95,1,5.95,0,0,1
17,Sandwich Ham and Pickle,53,3.49,1,3.49,1,0,0
18,Sandwich Ham and Cheese,54,3.49,2,6.98,0,0,2
19,Sandwich Chicken Tikka,58,3.45,1,3.45,0,0,1
20,Sea Salt Popcorn,65,0.65,3,1.95,0,2,1
21,Oat and Rasin Cookie,67,0.65,2,1.3,1,1,0
22,Triple Chocolate Cookie,68,0.65,1,0.65,1,0,0
23,Piece of Fruit,69,0.5,1,0.5,0,1,0
24,Kettle Chips Cheddar and Onion,70,0.85,1,0.85,0,0,1
25,Kettle Chips Sea Salt and Balsamic,71,0.85,1,0.85,0,1,0
26,Kettle Chips Lighly Salted,72,0.85,2,1.7,0,1,1

In [9]:
# define a function that used to report a target product during the period
def product_report(dataframe, target_product_id, start_datetime, end_datetime):
    start_datetime = pd.to_datetime(start_datetime)
    end_datetime = pd.to_datetime(end_datetime)
    
    # select the target product dataframe
    product_data = dataframe.loc[dataframe.productid == target_product_id]
    
    # select the period dataframe
    product_data = product_data.loc[(product_data.time > start_datetime) & (product_data.time < end_datetime)]
    
    # insert the date used for group by
    product_data.insert(6, 'date', product_data.time.dt.date, allow_duplicates=False)
    
    # insert the price
    cursor.execute('SELECT price FROM products WHERE productid = ?', (target_product_id,))
    target_price = cursor.fetchone()[0] / 100
    product_data.insert(7, 'price', target_price, allow_duplicates=False)
    
    # group by
    product_report = product_data.groupby(['date','productname'])['amount', 'price'].sum()
    
    product_report = product_report.rename(index = str, 
                                           columns = {'amount': 'total_volume', 'price': 'total_value'})
    
    product_report.reset_index(level=(0,1), inplace=True)

    return product_report

In [10]:
# for example, select productid == 38 for the following time period
start_time = '13-12-2017 11:41:00'
end_time = '13-12-2017 11:46:00'
target_product_id = 38

report_38 = product_report(transactions, target_product_id, start_time, end_time)

In [11]:
display(report_38)

         date      productname  total_volume  total_value
0  2017-12-13  Coca Cola 330ml             4          4.0

In [12]:
# export the data into csv files
transactions.to_csv('till_tansactions.csv', encoding = 'utf-8', index = False)

daily_20171213.to_csv('Daily_report_20171213.csv', encoding = 'utf-8', index = False)

report_38.to_csv('Product_report_38.csv', encoding = 'utf-8', index = False)